
body {
    background-color: black;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    margin: 10px;
}

img {
    
    height: 100%;
}

.piece-s {
    width: 250px;
    height: 150px;
}
.piece-h {
    width: 250px;
    height: 300px;
}
.piece-l {
    width: 500px;
    height: 150px;
}




.puzzle{
    display :grid;
   
    grid-template-columns:repeat(3 ,500px);
   
    grid-template-areas:
    "zeroone    zerotwo "  
    "zerofour   zerofive "
    "zerosix    zeroseven "
    "zeronine   zeroten "
    "zerothree  zeroeight  "
    
}

#piece01{grid-area: zeroone;}
#piece02{grid-area: zerotwo;}
#piece03{grid-area: zerothree;}
#piece04{grid-area: zerofour;}
#piece05{grid-area: zerofive;}
#piece06{grid-area: zerosix;}
#piece07{grid-area: zeroseven;}
#piece08{grid-area: zeroeight;}
#piece09{grid-area: zeronine;}
#piece10{grid-area: zeroten;}