


body{
    place: center;
    padding-left: 500px;
    padding-right: 700px;
    padding-top: 80px;
}

#conteneur1 {
    
    display :grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "1  2   3  "
    "6  5   4  "
    "7  8   9  ";
   
    margin-bottom: 40px;

}
#conteneur1 div:nth-child(odd) {
           background-color:dodgerblue;
           padding: 15px;
           text-align: center;
           border: 1px solid black;

           
}
#conteneur1 div:nth-child(even){
    background-color:aqua;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    
}





#conteneur2 {
    
    display :grid;
    grid-template-columns:1fr 2fr 3fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    "1  2   3  "
    "6  5   4  "
    "7  8   9  ";
    
   

}
#conteneur2 div:nth-child(odd) {
           background-color:dodgerblue;
           padding: 15px;
           text-align: center;
           border: 1px solid black;

           
}
#conteneur2 div:nth-child(even){
    background-color:aqua;
    padding: 15px;
    text-align: center;
    border: 1px solid black;

   
    
}



#conteneur3 {
    
    display :grid;
    grid-template-columns:1fr 2fr 3fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
    "1  2   3  "
    "6  5   4  "
    "7  8   9  ";
    grid-gap: 2px;
    margin-top: 40px;

}
#conteneur3 div:nth-child(odd) {
           background-color:dodgerblue;
           padding: 15px;
           text-align: center;
           border: 1px solid black;
           border-radius: 1px;
           

           
}
#conteneur3 div:nth-child(even){
    background-color:aqua;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 1px;
   
}























