


body{
    place: center;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 80px;
}

#conteneur {
    
    display :grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "1  2   3  "
    "6  5   4  "
    "7  8   9  ";
 

}
#conteneur div:nth-child(odd) {
           background-color:red;
           padding: 10px;
           text-align: center;
           border: 2px solide black;
           
}
#conteneur div:nth-child(even){
    background-color: yellowgreen;
    padding: 15px;
    text-align: center;
    border: 2px solide black;
    
}


























