





body{
    display: grid;
    height: 100px;
    place-items: center;
    padding-top: 80px;
}

#conteneur{
    display :grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "header  header  header  header"
    "nav     nav     nav      nav"
    "aside   main     main    main"
    "footer  footer  footer  footer";
    grid-gap: 1px;
}

main {
    grid-area: main;
    background-color:cyan;
    padding: 20px;
    padding-bottom: 160px;
    padding-right: 140px;
}

header {
    grid-area: header;
    background-color:cyan;
    padding: 20px;
}

nav{
    grid-area: nav;
    background-color:cyan;
    padding: 20px;
}

aside{
    grid-area: aside;
    background-color:cyan;
    padding: 20px;
   
  
    
}
 
footer{
    grid-area: footer;
    background-color:cyan;
    padding: 20px;
}